
.block{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    max-width: 0.5fr;
    aspect-ratio: 1/1;
    padding: 2%;
}

.block-name{
    font-size: 1.4em;
}