
.block-holder{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 16vh;
    column-gap: 1.5vw;
    overflow-y: auto;
    width: 50%;
    min-width: 865px;
    min-height: 590px;
    aspect-ratio: 5/3;
    border: 5px solid rgb(216, 216, 216);
    margin-bottom: 3%;
    padding: 1%;
}