*{
  box-sizing: border-box;
  font-family: Arial;
  border-radius: 10px;
  outline: none;
}

html, body, #root{
  height: 100%;
  width: 100%;
  margin: 0;
}

#root{
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}